<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe List</title>
    <link rel="stylesheet" href="/public/styles/output.css" />
    <link type="image/png" sizes="16x16" rel="icon" href="../public/images/icons8-international-food-48.png">
  </head>
  <body>
    <header>
      <nav class="bg-white shadow-lg">
        <div
          class="max-w-screen-xl mx-auto p-4 flex items-center justify-between"
        >
          <a href="/" class="flex items-center">
            <span class="text-2xl font-bold text-blue-600"
              >Food<span class="text-blue-400">Lovers</span></span
            >
          </a>
          <div class="flex space-x-8 items-center">
            <a
              href="/add"
              class="py-3 px-6 bg-blue-600 text-white font-semibold text-lg rounded-md hover:bg-blue-700 transition duration-300"
              >Add Recipe</a
            >
            <a
              href="/"
              class="py-3 px-6 bg-blue-600 text-white font-semibold text-lg rounded-md hover:bg-blue-700 transition duration-300"
              >Home</a
            >
          </div>
        </div>
      </nav>
    </header>

    <div class="max-w-screen-xl mx-auto p-6 mt-8 ">
      <h1 class="text-4xl font-bold text-blue-600 mb-4">Recipe List</h1>

      <% if (recipes && recipes.length > 0) { %>
      <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% recipes.forEach(recipe => { %>
        <li class="bg-white rounded-lg shadow-md p-4">
         <a href="/recipe/<%= recipe._id %>"> <h2 class="text-4xl font-semibold text-blue-400"><%= recipe.name %></h2></a> 
          <p class="text-gray-700">
            <strong>Category:</strong> <%= recipe.category %>
          </p>

          <div class="flex items-center mt-2">
            <% for (let i = 1; i <= recipe.grade; i++) { %>
        
            <svg
              class="w-6 h-6 text-yellow-400"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27l5.18 3.73-1.64-7.03L21 9.24l-7.19-.61L12 2 10.19 8.63 3 9.24l5.46 4.73L6.82 21z"
              />
            </svg>
            <% } %>
          </div>

          <img
            src="<%= recipe.image %>"
            alt="<%= recipe.name %>"
            class="w-full h-52 object-cover rounded-lg mt-2"
          />
          <p class="text-gray-700 mt-2">
            <strong>Description:</strong> <%= recipe.description %>
          </p>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p class="text-gray-700">No recipes available.</p>
      <% } %>
    </div>
  </body>
</html>
